* {
    padding: 0px;
    margin: 0px;
    /* font-family: 'Times New Roman'; */
    color: #000;
}

body {
    min-width: 1500px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.pstyle {
    padding: 5px 5px;
    line-height: 25px;
}

.linestyle {
    width: 100%;
    margin: 20px auto;
}

#tall {
    width: 100%;
}


/*顶部菜单栏*/

.heh {
    width: 93px;
    height: 70px;
    position: absolute;
    top: -7px;
    right: 18%;
    /* border: 1px solid black; */
}

.heh img {
    width: 93px;
    height: 70px;
    /* border: 1px solid black; */
}

.navMargs {
    width: 80%;
    min-width: 1400px;
    /* border: 1px solid black; */
    margin: 0 auto;
}


/*帮扶成果、数据展示
 其他文字摘要*/

.txtDetail {
    margin: 10px auto;
    font-size: 18px;
    width: 100%;
    height: 120px;
    background: rgba(0, 152, 199, 0.4);
}


/*公益活动轮播*/

#carousel {
    height: 380px;
    width: 100%;
    margin: 0 auto;
    background-color: #ebf0f5;
}

.img-wrap {
    width: 100%;
    height: 370px;
    display: flex;
    /* border: 1px solid navy; */
    flex-direction: row;
    margin: 5px auto;
}

.ims {
    width: 35%;
    height: 350px;
    margin: 10px 20px;
    /* border: 1px solid navy; */
}

.ims img {
    width: 100%;
    height: 350px;
}

.img-item img {
    width: 100%;
    height: 100%;
}

.newsTxt {
    width: 60%;
    height: 350px;
    margin: 10px 40px;
    /* border: 1px solid navy; */
}

.newsTxt h1 {
    font-family: '楷体';
    font-size: 2.1em;
}


/*帮扶村庄名单*/

.countryList {
    margin: 25px auto;
    font-size: 20px;
    width: 100%;
    height: 240px;
    position: relative;
}

.countryList ul {
    display: inline-block;
    width: 100%;
    min-width: 1400px;
    height: 210px;
    /* border: 1px solid black; */
    /* display: block; */
}

.countryList ul li {
    float: left;
    margin-top: 15px;
}

.countrName {
    text-decoration: none;
    line-height: 45px;
    display: block;
    width: 300px;
    height: 48px;
    background-color: #99CCCC;
    /*padding: 20px;*/
    text-align: center;
    margin-left: 65px;
    position: relative;
    border: 1px solid #99CCCC;
    border-radius: 5px;
}

.listItem i {
    position: absolute;
    right: 18px;
    top: 12px;
}


/*日志列表*/

.blogList {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.blogItem {
    border: 1px solid green;
    width: 35%;
    height: 580px;
    margin: 5px 10px;
    background-color: #ebf0f5;
    position: relative;
}

.blogItem img {
    width: 95%;
    height: 330px;
    padding: 10px;
}

.blogDetail {
    width: 95%;
    height: 100px;
    margin: 10px auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogMore {
    position: absolute;
    right: 5%;
    color: #99cccc;
    font-weight: bold;
}

.blogMore:hover {
    color: #0066cc;
}