* {
    margin: 0px;
    padding: 0px;
    word-break: break-all;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*头部*/

body {
    min-width: 1500px;
    text-overflow: hidden;
}

#tall {
    width: 100%;
    margin: 0 auto;
}

.heh {
    width: 93px;
    height: 70px;
    position: absolute;
    top: -7px;
    right: 18%;
    /* border: 1px solid black; */
}

.heh img {
    width: 93px;
    height: 70px;
    /* border: 1px solid black; */
}

.nav {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 600px;
    border: 1px solid rgb(236, 236, 236);
}

.navImg {
    width: 45%;
    height: 550px;
    /* border: 1px solid rgb(211, 211, 211); */
}

.navBigImg {
    /* margin-left: 10%; */
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
}

.navBigImg img {
    width: 100%;
    height: 100%;
    position: absolute;
    /* transition: all 1s; */
}

.navBigImg img:nth-of-type(1) {
    right: 0;
}

.navBigImg img:nth-of-type(1):target {
    left: 0px;
}

.navBigImg img:nth-of-type(2) {
    left: -100%;
}

.navBigImg img:nth-of-type(2):target {
    left: 0px;
}

.navBigImg img:nth-of-type(3) {
    left: -100%;
}

.navBigImg img:nth-of-type(3):target {
    left: 0px;
}

.navBigImg img:nth-of-type(4) {
    left: -100%;
}

.navBigImg img:nth-of-type(4):target {
    left: 0px;
}

.navBigImg img:nth-of-type(5) {
    left: -100%;
}

.navBigImg img:nth-of-type(5):target {
    left: 0px;
}

.navMoreImg {
    margin-top: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.navMoreImg a {
    content: "";
    display: block;
    width: 110px;
    height: 100px;
}

.navMoreImg a img {
    width: 110px;
    height: 100px;
}

.navText {
    width: 45%;
    height: 550px;
    border: 1px solid black;
}

.tit {
    font-family: '楷体';
    font-size: 1.5em;
    font-weight: bolder;
}

.tit1 {
    margin-top: 20px;
    font-family: '楷体';
    font-size: 1.1em;
    font-weight: bolder;
}

.price {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 130px;
    background-color: rgb(248, 201, 139);
}

.kong {
    height: 10px;
}

.oldprice {
    /* display: block; */
    margin-top: 10px;
    color: rgb(138, 138, 138);
    margin-top: 12px;
}

.oldprice span {
    text-decoration: line-through;
}

.newprice {
    /* display: block; */
    height: 40px;
    color: rgb(138, 138, 138);
    margin-top: 12px;
}

.newprice span {
    color: rgb(226, 104, 4);
    font-size: 2.6em;
    font-weight: bolder;
}

.success {
    position: absolute;
    top: 35px;
    right: 15px;
    width: 100px;
    height: 50px;
    /* border: 1px solid black; */
    text-align: center;
}

.location {
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
    /* text-align: center; */
    line-height: 30px;
}

.margs {
    width: 85%;
    height: 62px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* line-height: 62px; */
}

.nums {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    /* border: 1px solid black; */
}

.nums p {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    /* border: 1px solid black; */
    background: rgba(207, 207, 207, 0.4);
    text-align: center;
    font-size: 1.3em;
}

.numsJian {
    width: 30px;
    height: 30px;
    border-radius: 30px 0 0 30px;
    font-size: 1.4em;
    border: none;
    /* font-weight: bolder; */
}

.numsAdd {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0 30px 30px 0;
    font-size: 1.4em;
    /* font-weight: bolder; */
}

#loca {
    width: 80px;
    height: 25px;
    border: 1px solid rgb(94, 93, 93);
}

#locaCh {
    width: 80px;
    height: 25px;
    border: 1px solid rgb(94, 93, 93);
}

#locaCher {
    width: 100px;
    height: 25px;
    border: 1px solid rgb(94, 93, 93);
}

.navContent {
    /* border: 1px solid black; */
    /* margin-top: -15px; */
}

.add,
.nowBuy {
    /* font-family: '楷体'; */
    font-size: 1.3em;
    /* font-weight: bolder; */
    margin-top: 50px;
    line-height: 50px;
    border-radius: 20px 20px;
    border: none;
    height: 50px;
}

.add {
    color: rgb(243, 109, 0);
    width: 140px;
    background-color: rgb(253, 199, 129);
    margin-left: 60px;
}

.nowBuy {
    color: rgb(255, 255, 255);
    width: 180px;
    background-color: rgb(243, 109, 0);
    margin-left: 60px;
}

.moreMes {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* height: 1500px; */
    /* border: 1px solid black; */
    margin: 80px auto;
}

.otherMes {
    width: 27%;
    /* height: 1500px; */
    /* border: 1px solid black; */
}

.otherMes img {
    width: 100%;
    height: 300px;
}

.msms {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 42px;
}

.otherMes span {
    display: inline-block;
    /* margin-left: 236px; */
    /* position: absolute; */
    /* right: 5px; */
}

.liteMes {
    /* margin-top: 10px; */
    width: 100%;
    height: 350px;
    border-bottom: 1px solid rgb(136, 136, 136);
}

.detialMes {
    width: 70%;
    /* height: 1500px; */
    /* border: 1px solid black; */
}

.bigImgs {
    width: 100%;
    height: 700px;
    /* border: 1px solid black; */
}

.bigImgs img {
    width: 100%;
    height: 650px;
}

.foot {
    width: 100%;
    height: 300px;
    background-color: black;
}