* {
    margin: 0px;
    padding: 0px;
    word-break: break-all;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-width: 1500px;
}

#tall {
    width: 100%;
    min-width: 1500px;
    /* height: 1000px; */
    /* min-width: 1300px; */
    margin: 0 auto;
    /* background-color: aqua; */
}


/* .navTall {
    width: 80%;
    min-width: 1400px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
} */

.heh {
    width: 93px;
    height: 70px;
    position: absolute;
    top: -7px;
    right: 18%;
    /* border: 1px solid black; */
}

.heh img {
    width: 93px;
    height: 70px;
    /* border: 1px solid black; */
}


/* video及其下部部分 */

.nav-All {
    margin: 0 auto;
    width: 70%;
    /* height: 3500px; */
    min-width: 1400px;
    /* background-color: antiquewhite; */
}

.videos {
    width: 100%;
    height: 765px;
    /* border: 1px solid black; */
}

#vid {
    margin: -1px;
    width: 100%;
    height: 765px;
}

.some-Msg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    margin-top: 50px;
}

.some-Msg-Ch1 {
    position: relative;
    width: 30%;
    height: 100%;
    /* border: 1px solid rgb(230, 67, 67); */
}

.some-Msg-Ch1:hover {
    background: rgba(201, 246, 240, 0.4);
}

.some-Msg-Ch1 img {
    width: 150px;
    height: 170px;
    margin-top: 15px;
    margin-left: 5px;
}

.some-Msg-Text {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
    width: 150px;
    height: 50px;
    font-family: '楷体';
    font-size: 1.7em;
    font-weight: bolder;
    line-height: 50px;
    text-align: center;
    color: rgb(6, 139, 84);
    border: 1px solid rgb(6, 139, 84);
}

.some-Msg-Text1 {
    display: block;
    position: absolute;
    top: 95px;
    right: 5px;
    width: 210px;
    /* right: 30px; */
    font-size: 1.2em;
    color: rgb(130, 131, 133);
    text-align: center;
}


/* 优质信息的推选 */

.good-Msg {
    margin-left: 31%;
    margin-top: 60px;
    /* margin-top: 60px; */
    font-family: '楷体';
    font-size: 2.8em;
    /* font-weight: bolder; */
    color: rgb(218, 125, 4);
}

.good-Msg span {
    font-family: serif;
    font-weight: 500;
    font-size: 0.9em;
}

.good-Msg-Litte {
    margin-left: 37%;
    /* margin-top: 60px; */
    /* margin-top: 60px; */
    font-family: '楷体';
    font-size: 1.6em;
    /* font-weight: bolder; */
    color: rgb(139, 139, 138);
}

.food-Msg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 346px;
    /* border: 1px solid black; */
    margin-top: 40px;
}

.food-Msg-Ch1 {
    width: 31%;
    height: 346px;
    border: 1px solid rgb(180, 180, 180);
}

.food-Msg-Ch1 div {
    width: 90%;
    height: 94%;
    /* border: 1px solid rgb(216, 0, 0); */
    margin: 3% 5%;
}

.food-Msg-Ch1 div img {
    width: 100%;
    height: 240px;
}

#food-Msg-text {
    font-size: 1.4em;
    color: rgb(131, 132, 133);
    margin-top: 10px;
    letter-spacing: 0.2em;
}

#food-Msg-text1 {
    font-size: 1.4em;
    color: rgb(131, 132, 133);
    margin-top: 10px;
    letter-spacing: 0.2em;
}


/* 新闻部分 */

.infor-movie {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    border: 1px solid black;
    margin-top: 60px;
}


/* text1部分代码 */

.nav-alls {
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.nav-body-text1 {
    width: 48%;
    margin-top: 60px;
    min-width: 500px;
    position: relative;
    /* border: 1px solid black; */
}

.nav-body-text1-ch1 {
    width: 100%;
    height: 55px;
    background: rgba(42, 148, 235, 0.8);
}

.nav-body-text1-ch2 {
    width: 100%;
    height: 55px;
    background: rgba(13, 202, 202, 0.8);
}

.tab-box,
.tab-box2 {
    min-width: 480px;
    /* border: 1px solid black; */
    border-bottom: 1px solid rgb(231, 231, 231);
}

.nav-body-text1-ch1 ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 45px;
    /* margin-top: 10px; */
    padding-top: 10px;
    margin-left: 5px;
}

.nav-body-text1-ch2 ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 45px;
    /* margin-top: 10px; */
    padding-top: 10px;
    margin-left: 5px;
}

.nav-body-text1-ch1 ul li {
    width: 95%;
    /* margin-top: 10px; */
    text-align: center;
    /* color: rgb(255, 255, 255); */
    /* line-height: 55px; */
}

.nav-body-text1-ch2 ul li {
    width: 95%;
    /* margin-top: 10px; */
    text-align: center;
}

.nav-body-text1-ch1 ul li a {
    /* text-shadow: 2px 1px 1px rgb(255, 255, 255); */
    /* color: transparent; */
    /* color: antiquewhite; */
    font-size: 1.5em;
    /* padding-bottom: 10px; */
    line-height: 38px;
    font-weight: 600;
    font-family: '宋体';
    color: rgb(87, 87, 87);
}

.nav-body-text1-ch2 ul li a {
    /* text-shadow: 2px 1px 1px rgb(255, 255, 255); */
    /* color: transparent; */
    /* color: antiquewhite; */
    font-size: 1.5em;
    /* padding-bottom: 10px; */
    line-height: 38px;
    font-weight: 600;
    font-family: '宋体';
    color: rgb(87, 87, 87);
}

.nav-body-text1-ch1 ul li:hover {
    background-color: white;
}

.nav-body-text1-ch1 ul li:hover a {
    color: rgb(82, 186, 235);
    /* font-weight: 600; */
    margin-top: 10px;
    font-family: '宋体';
}

.nav-body-text1-ch2 ul li:hover {
    background-color: white;
}

.nav-body-text1-ch2 ul li:hover a {
    color: rgb(82, 186, 235);
    /* font-weight: 600; */
    margin-top: 10px;
    font-family: '宋体';
}

.change {
    background-color: white;
}

.change a {
    /* background-color: white; */
    color: rgb(82, 186, 235);
    /* font-weight: 600; */
    /* margin-top: 10px; */
    font-family: '宋体';
}

.pp a {
    position: absolute;
    top: 20px;
    right: 5%;
    color: rgb(44, 43, 43);
    font-size: 1.1em;
    font-weight: bold;
    font-family: '宋体';
}

.pp a:hover {
    color: rgb(255, 255, 255);
}

.nav-infor1 {
    width: 100%;
    height: 385px;
    /* background-color: rgb(233, 188, 188); */
}

.infor-first li .infor-date {
    float: right;
    color: rgb(173, 169, 169);
    font-size: 14px;
    line-height: 35px;
    /* margin-top: 10px; */
}

.nav-infor1 .infor-first .one {
    width: 100%;
    height: 35px;
    /* background-color: rgb(119, 114, 108); */
}

.one div {
    width: 85%;
    height: 35px;
    /* background-color: aliceblue; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.one div a {
    /* text-overflow: ellipsis; */
    /* width: 230px; */
    background: url(/static/img/icons.png) no-repeat 11px 0px;
    padding-left: 25px;
    line-height: 35px;
    font-size: 25px;
    color: black;
}

.one a:hover {
    color: rgb(66, 94, 104);
    /* font-weight: 600; */
}

.movie {
    width: 50%;
    height: 600px;
    border: 1px solid rgb(173, 7, 7);
}


/* 友情链接 */

.friend {
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 60px;
    border: 1px dashed rgb(149, 149, 149);
    box-shadow: 0px 0px 5px 5px rgb(233, 233, 233);
}

.friend h2 {
    line-height: 60px;
    font-family: '楷体';
    font-size: 1.8em;
    font-weight: bold;
    display: block;
    margin-left: 15px;
}

.friend .friend-nav {
    position: absolute;
    top: 0px;
    left: 192px;
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.friend-nav li {
    width: 20%;
    height: 60px;
    /* border: 1px solid black; */
    text-align: center;
}

.friend-nav li a {
    line-height: 60px;
    font-family: '楷体';
    font-size: 1.9em;
    font-weight: bolder;
}

.friend-nav li:hover {
    background-color: rgb(205, 246, 246);
    color: rgb(78, 45, 2);
}