* {
    padding: 0px;
    margin: 0px;
    /* font-family: 'Courier New', Courier, monospace; */
    color: #000;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*头部*/

body {
    min-width: 1500px;
    text-overflow: hidden;
}

#tall {
    width: 100%;
    min-width: 1500px;
    margin: 0 auto;
}

.heh {
    width: 93px;
    height: 70px;
    position: absolute;
    top: -7px;
    right: 18%;
    /* border: 1px solid black; */
}

.heh img {
    width: 93px;
    height: 70px;
    /* border: 1px solid black; */
}


/*轮播和菜单*/

#carousel {
    height: 550px;
    width: 100%;
    margin: 0 auto;
    /*background-color: orange;*/
    position: relative;
}

.img-item {
    position: absolute;
    /* 隐藏元素 */
    display: none;
}

.img-wrap .img-item img {
    vertical-align: 0;
    width: 100%;
    height: 530px;
}

.btn-list {
    position: absolute;
    /* 相对于右边的距离 */
    right: 50%;
    /* 相对于下边的距离 */
    bottom: 20px;
    width: 140px;
    height: 20px;
    /* background: red; */
}

.btn {
    width: 18px;
    height: 6px;
    background-color: white;
    border-radius: 2px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #024596;
}


/*左右切换按钮*/

.tab {
    position: absolute;
    /* 距离上边距的距离 */
    top: 50%;
    width: 55px;
    height: 55px;
    font-size: 20px;
    text-align: center;
}

.left {
    left: 6px;
}

.right {
    right: 6px;
}

.right,
.left:hover {
    cursor: pointer;
}


/*优质推选*/

.navMargS {
    width: 80%;
    min-width: 1400px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

#recommend {
    height: 450px;
    width: 100%;
    min-width: 1450px;
    /*background-color: blueviolet;*/
    margin: 0 auto;
    border: 2px solid #c0c2cc;
    position: relative;
    margin-bottom: 30px;
}

.mnsg {
    width: 96%;
    min-width: 1350px;
    display: flex;
    justify-content: space-between;
}

.recommend1 {
    width: 30%;
    height: 360px;
    border: 1px solid gainsboro;
    margin-left: 44px;
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
    overflow: hidden;
}

.recommend1 img {
    width: 100%;
    height: 360px;
}

.recommend1Detail {
    width: 100%;
    height: 143px;
    background-color: rgba(119, 119, 119, 0.5);
    position: absolute;
    bottom: -31%;
    transition: all 0.5s ease;
}

.recommend1Detail span {
    color: #FFFFE0;
    display: inline-block;
    padding-top: 12px;
}

.recommend1:hover .recommend1Detail {
    bottom: 0%;
}

.recommend1Detail button {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 0px 1px 0px #2f6627;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #44c767;
    padding: 10px 30px 10px 30px;
    border: solid #18ab29 1px;
    text-decoration: none;
    text-align: right;
    position: absolute;
    right: 5%;
}

.recommend1Detail button:hover {
    color: #ffffff;
    background: #5cbf2a;
    text-decoration: none;
}


/*商城产品展示*/

#shopList {
    display: flex;
    justify-content: space-between;
    min-width: 1300px;
    width: 100%;
    height: 750px;
    margin: 0 auto;
    background-color: lightyellow;
    position: relative;
    margin-bottom: 30px;
}

.oneFloor {
    width: 15%;
    height: 650px;
    min-width: 250px;
    /* border: 1px solid orange; */
    position: absolute;
    top: 3%;
    left: 3%;
}

.oneFloor img {
    height: 650px;
    width: 100%;
}

.itemList {
    margin-left: 10px;
    width: 76%;
    /* border: 1px solid black; */
    height: 650px;
    position: absolute;
    right: 1%;
    /*top:8%*/
}

.item {
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    width: 30%;
    height: 350px;
    /* margin-left: 80px; */
    /* margin-top: 20px; */
    float: left;
    border: 1px solid green;
}

.item img {
    width: 100%;
    height: 300px;
}

.itemDetail {
    width: 100%;
    /* height: 50px; */
}

.itemDetail p {
    margin-top: 8px;
    font-size: 1.4em;
    font-family: '楷体';
}

.btns {
    position: absolute;
    right: 5px;
    bottom: 8px;
    font-size: 1.2em;
    font-family: '楷体';
    color: red;
}

.pp {
    width: 180px;
    height: 28px;
    overflow: hidden;
}


/* 网站底部 */

.foot {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    background-color: black;
    text-align: center;
}

.nav-foot {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 50px;
    margin-left: 27%;
    width: 800px;
    height: 200px;
    background: rgba(224, 224, 224, 0.3);
    /* border: 1px solid white; */
    text-align: center;
    /* padding-top: 50px; */
}

.nav-foot p {
    margin-top: 48px;
    color: white;
    font-family: '楷体';
    font-size: 1.5em;
}

.pppp {
    position: absolute;
    top: 35px;
    left: 132px;
}