<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>农牧云</title>
    <link rel="icon" href="/static/img/农牧云logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/lost.css">
</head>

<body>

    <div class="fon">
        <div style="height:90px;"></div>
        <div class="left"><b>电话：</b></div>
        <div class="right"><input type="text" name="tel" id="tel"></div>
        <br>
        <div class="left"><b>新密码：</b></div>
        <div class="right"><input type="password" name="pass1" id="pass1"></div>
        <br>
        <div class="left"><b>再次输入：</b></div>
        <div class="right">
            <input type="password" name="againpass" id="againpass1"></div>
        <br>
        <button type="button" onclick="btn()" id="btn">点击确认</button>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script>
    function btn() {
        var tel = $("#tel").val()
        var pass1 = $("#pass1").val()
        var againpass1 = $("#againpass1").val()

        //对输入的密码进行判断
        if (pass1.length > 7 && pass1.length <= 15) {  
            if (pass1 != againpass1) {
                alert(`输入的密码不一致`)
                return false
            }
        } else {
            alert(`至少输入8~15位有效字符`)
            return false
        }


        $.get("/lostpass", {
            tel: tel,
            pass1: pass1,

        }, function(rep) {
            alert(rep)
        })
    }
    $(document).keyup(function(event) {
        if (event.keyCode == 13) {
            $("#btn").trigger("click")
        }
    })
</script>

</html>