<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>农牧云</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/nmyabout.css">
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
</head>

<body>
    <div id="tall">
        <div class="header">
            <h1>农牧云--NongMuYun</h1>
            <img src="/static/img/about/6P0A3533.jpg" alt="">
            <ul>
                <li><a href="javascript:;">公司首页</a></li>
                <li><a href="javascript:;">公司简介</a></li>
                <li><a href="javascript:;">特色功能</a></li>
                <li><a href="javascript:;">团队介绍</a></li>
                <li><a href="javascript:;">公司动态</a></li>
                <li><a href="javascript:;">联系我们</a></li>
            </ul>
            <img class="jian" src="/static/img/jian.png" alt="">
        </div>
        <!-- 公司简介 -->
        <div class="jokes">
            <h1>欢迎您的访问！</h1>
            <h4>公司简介</h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;sklednfjerngierbg你没收到开发你个哦如果内容说你都老夫看你的结果呢人你胃口了法规内容女娃儿空额居然肯呢个 问客人你感觉科荣那我可哦了你看我饿哦来拿wneklfnewklnwenkfjne你胃口了烦恼干扰了国内论文肯恩你没收到开发你个哦如果内容说你都老夫看你的结果呢人你胃口了法规内容女娃儿空额居然肯呢个 问客人你感觉科荣那我可哦了你看我饿哦来拿wneklfnewklnwenkfjne你胃口了烦恼干扰了国内论文肯恩</p>
            <ul>
                <li>
                    <h4>企业文化</h4>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阿斯蒂芬你几岁的部分inas九分裤百度是的南京发布的好几个四点半就放开手的部分合计睡大觉狂放不羁快递随便圣诞节咖啡杯</p>
                </li>
                <li>
                    <h4>平台理念</h4>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阿斯蒂芬你几岁的部分inas九分裤百度是的南京发布的好几个四点半就放开手的部分合计睡大觉狂放不羁快递随便圣诞节咖啡杯</p>
                </li>
                <li>
                    <h4>政策支持</h4>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阿斯蒂芬你几岁的部分inas九分裤百度是的南京发布的好几个四点半就放开手的部分合计睡大觉狂放不羁快递随便圣诞节咖啡杯</p>
                </li>
                <li>
                    <h4>优质产品</h4>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阿斯蒂芬你几岁的部分inas九分裤百度是的南京发布的好几个四点半就放开手的部分合计睡大觉狂放不羁快递随便圣诞节咖啡杯</p>
                </li>
            </ul>
        </div>

        <!-- 关于我们 -->
        <div class="aboutme">
            <h1>关于我们</h1>
            <div class="aboutLeft">
                <img src="/static/img/about/6P0A3679.jpg" alt="">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基于农产品平台研发，以扶贫为初心，致力于产品上行，从生产源头把握农产品品控，保证农产品绿色生态。农牧云与具有一定养殖规模的贫困村的合作社、产业大户实现战略合作，消费者通过认购投资与农户共享收益、共担风险。
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过宣传推广农特产品，开设贫困销售专栏，为村子全方位分析、打造，对其农产品以及环境资源进行最大化利用，打造“一村一品”，实现为农户增收脱贫。
                </p>
            </div>
            <div class="aboutright">
                <p>平台特色</p>
                <ul>
                    <li>
                        <a href="javascript:;">sfsdd电饭锅地方法规回复过后对方回复孤鸿寡鹄fgfdfhfghjgj</a>
                        <span>9-12</span>
                    </li>
                    <li>
                        <a href="javascript:;">sfsdd电饭锅地方法规回复过后对方回复孤鸿寡鹄fgfdfhfghjgj</a>
                        <span>9-12</span>
                    </li>
                    <li>
                        <a href="javascript:;">sfsdd电饭锅地方法规回复过后对方回复孤鸿寡鹄fgfdfhfghjgj</a>
                        <span>9-12</span>
                    </li>
                    <li>
                        <a href="javascript:;">sfsdd电饭锅地方法规回复过后对方回复孤鸿寡鹄fgfdfhfghjgj</a>
                        <span>9-12</span>
                    </li>
                    <li>
                        <a href="javascript:;">sfsdd电饭锅地方法规回复过后对方回复孤鸿寡鹄fgfdfhfghjgj</a>
                        <span>9-12</span>
                    </li>
                    <li>
                        <a href="javascript:;">sfsdd电饭锅地方法规回复过后对方回复孤鸿寡鹄fgfdfhfghjgj</a>
                        <span>9-12</span>
                    </li>
                    <li>
                        <a href="javascript:;">sfsdd电饭锅地方法规回复过后对方回复孤鸿寡鹄fgfdfhfghjgj</a>
                        <span>9-12</span>
                    </li>
                </ul>
                <a class="aboutRig" href="javascript:;">更多信息>></a>
            </div>

        </div>
        <!-- 成果展示 -->
        <div class="abResults">
            <h1>成果展示</h1>
            <div class="resultMsg">
                <ul>
                    <li>asd</li>
                    <li>sdf</li>
                    <li>sdf</li>
                    <li>sdf</li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>