<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>农牧云</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/农牧云logo1.png">
    <script src="/static/single/single.js"></script>
    <link rel="stylesheet" href="/static/css/single.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/publ.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/loginnp.css">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <!-- <script src="/static/layui/lay/modules/layer.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <!-- <script src="/static/pub/pub.js"></script> -->
</head>

<body>
    <div id="tall">
        <ul class="layui-nav" style="background:rgb(9, 182, 101);height: 38px;position: relative;">
            <li class="layui-nav-item" style="position: absolute;right: 550px;height: 38px;">
                <p style="color:white;font-size:1.4em;font-family:'楷体';font-weight: bold;line-height: 38px;">农牧云欢迎您!</p>
            </li>
            <li class="layui-nav-item" style="position: absolute;right: 350px;height: 38px;">

                <a href="" style="height: 38px;margin-top:-12px;color: white;"><img :src="ims.imgs" class="layui-nav-img" style="line-height: 38px;">{{ims.tagname}}</a>
                <dl class="layui-nav-child" style="text-align:center;margin-top:-25px;">
                    <dd><a href="https://www.linchongyang.cn:4320/check">登录</a></dd>
                    <dd><a @click="nec()" style="cursor:pointer;">购物车</a></dd>
                    <dd>
                        <a @click="tui()" style="cursor:pointer;">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <!-- 导航栏 -->
        <!-- 导航栏 -->
        <div id="marg-All">
            <div class="navtit">
                <img src="/static/img/农牧云logo1.png" alt="">
                <ul>
                    <a :href="na.hrefs" v-for="na in navcs" style="color:black;">
                        <div class="line-bottom"></div>
                        <li>{{na.name}}</li>
                    </a>
                    <a @click="singles()" style="cursor: pointer;color: black;">
                        <div class="line-bottom"></div>
                        <li>个人中心</li>
                    </a>
                </ul>
            </div>
        </div>

        <!-- 展示信息 -->
        <div class="nav">
            <div class="navImg">
                <div class="navBigImg">
                    <img v-for="sm in sMsgimg" :src="sm.hrefs" alt="" :id="sm.ids">
                </div>
                <!-- 存放a标签通过锚点进行跳转 -->
                <div class="navMoreImg">
                    <a :href="sm.idjs" v-for="sm in sMsgimg"><img :src="sm.hrefs" alt=""></a>
                </div>
            </div>
            <div class="navText">
                <div class="navContent">
                    <span style="display:none;">{{goodsmsgs.imgs}}</span>
                    <!-- <img style="display:none;" :src="goodsmsgs.imgs" alt=""> -->
                    <p class="tit">{{goodsmsgs.goodsname}}</p>
                    <p class="tit1"></p>{{goodsmsgs.goodsmsg}}</p>
                    <div class="price">
                        <div class="kong"></div>
                        <p class="oldprice">原价：&nbsp;&nbsp;<span>¥{{goodsmsgs.oldprice}}</span></p>
                        <p class="newprice">现价：&nbsp;&nbsp;<span>¥{{goodsmsgs.newprice}}</span></p>
                        <div class="success">
                            <p class="succNum">{{goodsmsgs.successgoods}}</p>
                            <p>交易成功</p>
                        </div>
                    </div>
                </div>
                <div class="margs">
                    <p class="location">配送地：&nbsp;&nbsp;
                        <span>
                        <select  name="loca" id="loca"  v-model="prov">
                            <option v-for="option in arr" :value="option.name">
                                {{ option.name }}
                            </option>
                        </select>
                    </span>
                        <span>
                    <select name="loca" id="locaCh" v-model="city">
                        <option v-for="option in cityArr" :value="option.name">
                            {{ option.name }}
                        </option>
                    </select>
                    </span>
                        <span>
                   <select name="loca" id="locaCher"  v-model="district" v-show="district">
                        <option v-for="option in districtArr" :value="option.name">
                            {{ option.name }}
                        </option>
                    </select>
                    </span>
                    </p>
                    <div class="nums">
                        <button class="numsJian" v-bind:disabled="count === 0" v-on:click="count-=1">-</button>
                        <p>{{count}}</p>
                        <button class="numsAdd" v-on:click="count+=1">+</button>
                    </div>
                </div>
                <button class="add" @click="Sgoods(goodsmsgs.imgs,goodsmsgs.goodsname,goodsmsgs.goodsmsg,goodsmsgs.newprice)">加入购物车</button>
                <button class="nowBuy" id="nowBuy">立即购买</button>
            </div>
        </div>
        <!-- 其它相应信息 -->
        <div class="moreMes">
            <div class="otherMes">
                <div class="liteMes" v-for="lts in littleshop">
                    <a :href="lts.hrefs" style="color:black;">
                        <img :src="lts.imgs" alt="">
                        <p class="msms">{{lts.mess}}<span>¥{{lts.price}}</span></p>
                    </a>
                </div>
            </div>
            <div class="detialMes">
                <div class="bigImgs" v-for="bs in bigshop">
                    <img :src="bs.hrefs" alt="">
                    <p>{{bs.mess}}</p>
                </div>
            </div>
        </div>

        <!-- 网站底部 -->

        <div class="foot">
            <div class="nav-foot">
                <p>四川省南充市西华师范大学数学与信息学院信息与计算科学专业2016级8班</p>
                <p class="pppp"><b>Tel</b>:13350058238/3628098186&nbsp;&nbsp;<b>Email</b>:1653709489@qq.com</p>
                <p>农牧云平台</p>
            </div>
        </div>
    </div>
</body>


</html>