<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>农牧云</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/农牧云logo1.png">
    <script src="/static/single/single.js"></script>
    <link rel="stylesheet" href="/static/css/single.css">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
</head>

<body>
    <div id="tall">
        <div id="logonp">
            <p>农牧云欢迎你！</p>
            <div class="lo-re"><a href="http://www.linchongyang.cn:8080/check" id="logo">登录</a>
                <div class="line"></div>
                <a href="http://www.linchongyang.cn:8080/register" id="register">注册</a>
            </div>
        </div>
        <!-- 导航栏 -->
        <div id="marg-All">
            <img src="/static/img/农牧云logo1.png" alt="">
            <ul>
                <a :href="na.hrefs" v-for="na in navcs">
                    <div class="line-bottom"></div>
                    <li>{{na.name}}</li>
                </a>
            </ul>
        </div>

        <!-- 展示信息 -->
        <div class="nav">
            <div class="navImg">
                <div class="navBigImg">
                    <img v-for="sm in sMsgimg" :src="sm.hrefs" alt="" :id="sm.ids">
                </div>
                <!-- 存放a标签通过锚点进行跳转 -->
                <div class="navMoreImg">
                    <a :href="sm.idjs" v-for="sm in sMsgimg"><img :src="sm.hrefs" alt=""></a>
                </div>
            </div>
            <div class="navText">
                <div class="navContent">
                    <p class="tit">{{goodsmsgs.goodsname}}</p>
                    <p class="tit1"></p>{{goodsmsgs.goodsmsg}}</p>
                    <div class="price">
                        <div class="kong"></div>
                        <p class="oldprice">原价：&nbsp;&nbsp;<span>¥{{goodsmsgs.oldprice}}</span></p>
                        <p class="newprice">现价：&nbsp;&nbsp;<span>¥{{goodsmsgs.newprice}}</span></p>
                        <div class="success">
                            <p class="succNum">{{goodsmsgs.successgoods}}</p>
                            <p>交易成功</p>
                        </div>
                    </div>
                </div>
                <p class="location">配送地：&nbsp;&nbsp;<span>
                <select name="loca" id="loca" v-model="checkadd">
                    <option value="四川省">四川</option>
                    <option value="西藏省">西藏</option>
                    <option value="北京省">北京</option>
                    <option value="上海">上海</option>
                    <option value="广东省">广东</option>
                    <option value="河北省">河北</option>
                </select></span>
                    <span>
                <select name="loca" id="locaCh" v-model="checkadd1">
                    <option value="南充市">南充</option>
                    <option value="成都市">成都</option>
                    <option value="绵阳市">绵阳</option>
                    <option value="遂宁市">遂宁</option>
                    <option value="达州市">达州</option>
                    <option value="雅安市">雅安</option>
                </select>
                </span>
                    <span>
                <select name="loca" id="locaCher" v-model="checkadd2">
                    <option value="顺庆区">顺庆</option>
                    <option value="蒲江县">蒲江</option>
                    <option value="涪城区">涪城区</option>
                    <option value="蓬安县">蓬安</option>
                    <option value="达县">达县</option>
                    <option value="雨城区">雨城区</option>
                </select>
                </span>
                </p>
                <button class="add">加入购物车</button>
                <button class="nowBuy" @click="nowbuy()">立即购买</button>
            </div>
        </div>
        <!-- 其它相应信息 -->
        <div class="moreMes">
            <div class="otherMes">
                <div class="liteMes" v-for="lts in littleshop">
                    <img :src="lts.hrefs" alt="">
                    <p>{{lts.mess}}<span>¥{{lts.price}}</span></p>
                </div>
            </div>
            <div class="detialMes">
                <div class="bigImgs" v-for="bs in bigshop">
                    <img :src="bs.hrefs" alt="">
                    <p>{{bs.mess}}</p>
                </div>
            </div>
        </div>

        <!-- 网站底部 -->

        <div class="foot">
            <div class="nav-foot">
                <p>四川省南充市西华师范大学数学与信息学院信息与计算科学专业2016级8班</p>
                <p class="pppp"><b>Tel</b>:13350058238/3628098186&nbsp;&nbsp;<b>Email</b>:1653709489@qq.com</p>
                <p>农牧云平台</p>
            </div>
        </div>
    </div>
</body>

</html>